<footer>
    <span class="copyright">
        &copy; {{date format="YYYY"}} {{@blog.title}}. All Rights Reserved. | Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/kelyvin/caffeine-theme" target="_blank">Caffeine Theme</a>. <a id="miitbeian-wrap" href="http://www.miitbeian.gov.cn/" target="_blank"></a>
    </span>
    <span class="lean_site_view">
        <i class="fa fa-eye"></i>
        <span id="lean_site_view_num"></span>
    </span>
</footer>
